@import 'reset'
@import 'colors'
@import 'components/button'


html,
body
  margin: 0 !important
  padding: 1rem !important

  overflow: hidden

  background-color: #5b00de
  background-image: linear-gradient(284deg, #5b00de 0%, #551b8a 100%)

  background-repeat: no-repeat
  background-attachment: fixed

  color: var(--color-text)

  font-family: 'Helvetica', sans-serif

hr
  margin-bottom: 1rem
  color: var(--color-text)

a
  color: var(--color-text)